


/* -----Загальне для контенту----- */



/* -----Обнулення маркування списків----- */


/* -----Обнулення підкреслень у посиланнях----- */


/* -----Загальне для кнопок----- */


/* -----Заголовок----- */



/* -----Логотип----- */


.web-logo {
	color: var(--accent-color);
}

.studio-logo {
	color: var(--second-color-logo);
}

.logo-white {
	color: var(--white-text-color);
}




/* -----Шапка сайту----- */



/* -----Герой----- */









/* .button:hover {
	background-color: var(--white-background-color);
	color: var(--accent-color);
} */

/* -----Модальне вікно----- */





/* -----Особливості----- */
			/* Секція */













/* -----Чим ми займаємося----- */



/* -----Наша команда----- */



/* -----Постійні клієнти----- */










/* -----Футер----- */




/* -----Портфоліо----- */
