.features {
	width: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	
	@media screen and (min-width: 768px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.feature__list {
	color: var(--primary-text-color);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 30px;
	// width: 1200px;

	// margin: 0;
	// padding: 0;
	margin-right: calc(-1 + var(card-set-gap));

	>.item {
		width: 100%;

		@media screen and (min-width: 768px) {
			flex-basis: calc((100% - 30px) / 2);
		}

		@media screen and (min-width: 1200px) {
			flex-basis: calc((100% - 150px) / 4);
		}
		// width: 270px;
		// margin-right: var(--card-set-gap);
	}
}

.icon__thumb {
	background-color: var(--second-accent-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	border-radius: 4px;
	width: auto;
	height: 120px;
}

.features__icon {
	width: 70px;
	height: 70px;
}

.feature__title {
	margin-top: 0;
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.17;
	text-transform: uppercase;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}

.feature__text {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.71;
}