.footer__section {
	display: flex;
	background-color: var(--hero-background-color);
	width: auto;
	padding-top: 60px;
	padding-bottom: 60px;

	.container {
		display: flex;
		align-items: baseline;
		// width: 1200px;
		// margin-left: auto;
		// margin-right: auto;
		// padding-left: 15px;
		// padding-right: 15px;
	}
}

.contact__footer {
	width: 231px;
	margin-right: 70px;
}

.footer__contact {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	margin-top: 20px;

	.contact__item + .contact__item {
		margin-top: 9px;
	}
}

.contact__item .footer__contact--link:hover,
.contact__item .footer__contact--link:focus {
	color: var(--accent-color);
	transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.footer__contact--address {
	color: var(--white-text-color);
	letter-spacing: 0.03em;
}

.contact__item .footer__contact--link {
	color: var(--link-address-bottom-color);
	letter-spacing: 0.03em;
}

.footer__subscribe {
	display: inline-block;
	align-items: flex-start;

	.subscribe__link {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.footer__text {
	display: block;
	color: var(--white-text-color);
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	line-height: 1.172;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subscribe__list {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.subscribe__item {
	display: block;
}

.subscribe__link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	color: var(--white-text-color);
	background-color: inherit;

	transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		color: var(--white-text-color);
	}
}

.subscribe__icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}


/* ---- */

.footer__submit {
	/* display: flex; */
	align-items: flex-end;

	width: 570px;
	height: 86px;
	margin-left: 93px;
}

.footer__submit--text {
	display: inline-block;
	text-transform: uppercase;
	color: var(--white);
	margin-bottom: 20px;

	width: 207px;

	font-size: 14px;
	line-height: 1.172;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--white-text-color)
}

.footer__form--submit {
	display: flex;
	align-items: flex-end;

	width: 570px;
	gap: 12px;
}

.footer__submit--mail {
	/* position: absolute; */
	width: 358px;
	height: 50px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	background-color: #2196f300;
	color: #ffffff;
	border: 1px solid #ffffff4d;
	border-radius: 4px;
}

.footer__form--button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	border: transparent;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background-color: var(--accent-color);
	color: var(--white-text-color);
	transition: background-color 250ms var(--timing-function);
	cursor: pointer;
}

.footer__button--icon {
	position: relative;
	margin-left: 10px;
}